.row
  .large-12.columns
    .comment 
      |The interactive computational environment of the&nbsp;
      == link_to "Jupyter", "http://jupyter.org/"
      |&nbsp;Notebook, 
      |&nbsp;(where 
      == link_to "JuPyteR", "https://www.youtube.com/watch?v=OC3hsct63Ok"
      |&nbsp;is a portmanteau of&nbsp;
      ==link_to "Julia","http://julialang.org/"
      |, 
      ==link_to "Python", "https://ipython.org/notebook.html"
      |&nbsp;and&nbsp;
      == link_to "R","https://www.r-project.org/"
      |) now encompasses over 40 languages, including&nbsp;
      ==link_to "Ruby", "https://github.com/SciRuby/iruby"
      |. Only Julia, Python and Ruby are considered here. 
