.row
  .large-12.columns
    .secondary.callout
      .comment 
        |The interactive computational environment of the&nbsp;
        == link_to "Jupyter",
          "http://jupyter.org/",
          :target => "_blank"
        |&nbsp;Notebook, 
        |&nbsp;(where 
        == link_to "JuPyteR",
          "https://www.youtube.com/watch?v=OC3hsct63Ok",
          :target => "_blank"
        |&nbsp;is a portmanteau of&nbsp;
        ==link_to "Julia",
          "http://julialang.org/",
          :target => "_blank"
        |, 
        ==link_to "Python", 
          "https://ipython.org/notebook.html",
          :target => "_blank"
        |&nbsp;and&nbsp;
        == link_to "R",
          "https://www.r-project.org/",
          :target => "_blank"
        |) now encompasses over 40 languages, including&nbsp;
        ==link_to "Ruby", "https://github.com/SciRuby/iruby"
        |.
      .comment  
        | Only Julia, Python and Ruby are considered here. 
      .commentHeading Some Great References
      == partial '/partials/jupyterReferences'
