.row
  .large-12.columns
    .secondary.callout
      .comment 
        | An iRuby notebook running under the Jupyter
        |&nbsp;system was created on a&nbsp;
        ==link_to "Digital Ocean",
          "https://www.digitalocean.com/",
          :target => '_blank' 
        .comment 
          span.inlinecode janedow@johndow.com
          |&nbsp; are the user credentials on the remote machine
        |&nbsp;Droplet with Ubuntu as OS
      .comment Some preliminaries. (remote server command line)  
      pre uname -ro; jupyter --version;python --version; ruby --version; julia --version;
      pre &raquo; 3.13.0-57-generic GNU/Linux
          &raquo; 4.0.6
          &raquo; Python 2.7.11 :: Anaconda 2.5.0 (64-bit)
          &raquo; ruby 2.1.1p76 (2014-02-24 revision 45161) [x86_64-linux]
          &raquo; julia version 0.4.5

      .comment The iRuby Jupyter notebook was created as follows:
	  pre 
        | # On the remote server
          jupyter notebook
          socat TCP-LISTEN:8090,fork TCP:localhost:9999  # (new terminal window)
          # From any browser
          janedow@johndow.com:8090  
          # Create a new iRuby notebook (using pull-down menu) 
		  # The final result was something like the following:
      figure 
        .fig-center
          == image_tag "irubyScreenshot.png"
          figcaption iRuby Notebook running remotely on the Jupyter System
      .commentHeading Notes
      .comment 
        | The full version of the above notebook, in non-interactive&nbsp;
        == link_to "notebook viewer",
          "https://nbviewer.jupyter.org/", 
          :target => '_blank'
        |&nbsp;format, is available&nbsp;
        ==link_to "here",
          "https://nbviewer.jupyter.org/gist/tomGdow/b0d2f416858dec005b8966cba682932a", 
          :target => '_blank'
        |&nbsp;as a&nbsp
        == link_to "github gist", 
          "https://gist.github.com/tomGdow/b0d2f416858dec005b8966cba682932a",
          :target => '_blank'
        |&nbsp;and&nbsp;
        =link_to "here",
          "https://nbviewer.jupyter.org/url/pastebin.com/raw/YDpavGU2",
          :target => '_blank'
        |&nbsp; as a&nbsp;
        ==link_to  "pastebin gist",
          "http://pastebin.com/YDpavGU2", 
          :target => '_blank'
        |. 
