.row
  .large-12.columns
    .secondary.callout
      .comment 
        | An iRuby notebook running under the Jupyter
        |&nbsp;system was created on a&nbsp;
        ==link_to "Digital Ocean",
          "https://www.digitalocean.com/",
          :target => '_blank' 
        |&nbsp;Droplet with Ubuntu as OS
      .comment Some preliminaries. (remote server command line)  
      pre uname -ro; jupyter --version;python --version; ruby --version; julia --version;
      pre &raquo; 3.13.0-57-generic GNU/Linux
          &raquo; 4.0.6
          &raquo; Python 2.7.11 :: Anaconda 2.5.0 (64-bit)
          &raquo; ruby 2.1.1p76 (2014-02-24 revision 45161) [x86_64-linux]
          &raquo; julia version 0.4.5

      .comment The iRuby Jupyter notebook was created as follows:
	  pre 
        | # On the remote server
          jupyter notebook
          socat TCP-LISTEN:8090,fork TCP:localhost:9999  # (new terminal window)
          # From any browser
          janedow@johndow.com:8090  
          # Create a new iRuby notebook (using pull-down menu) 
		  # The final result was something like the following:
      figure 
        .fig-center
          == image_tag "irubyScreenshot.png"
          figcaption iRuby Notebook running remotely on the Jupyter System
      .commentHeading Notes
      .comment 
        | The full version of the above notebook, in non-interactive&nbsp;
        == link_to "notebook viewer",
          "https://nbviewer.jupyter.org/", 
          :target => '_blank'
        |&nbsp;format, is available&nbsp;
        ==link_to "here",
          "https://nbviewer.jupyter.org/gist/tomGdow/b0d2f416858dec005b8966cba682932a", 
          :target => '_blank'
        |&nbsp;as a&nbsp
        == link_to "github gist", 
          "https://gist.github.com/tomGdow/b0d2f416858dec005b8966cba682932a",
          :target => '_blank'
        |. 
        .comment 
          span.inlinecode janedow@johndow.com
          |&nbsp; are the user credentials on the remote machine
        .comment
          |Both the 
          ==link_to "Jupyter", 
            "http://jupyter.org/",
            :target => "_blank"
          |&nbsp and 
          == link_to "iRuby",
            "https://github.com/SciRuby/iruby",
            :target => "_blank" 
          |&nbsp;will need to be installed on the remove server.  
          |Here, 
          ==link_to "Jupyter",
            "http://jupyter.org/",
            :target => "_blank"
          |&nbsp;(including 
          == link_to "iPython",
            "https://ipython.org/notebook.html",
            :target => "_blank"
          |) was intalled using 
          ==link_to "Anaconda",
            "https://www.continuum.io/downloads",
            :target => "_blank"
          |&nbsp;(with Python 2.x). 
        .comment 
          |The iRuby gem was installed from&nbsp;
          ==link_to "here",
            "https://github.com/SciRuby/iruby",
            :target => "_blank"
        .comment
          | In order to create notbooks in&nbsp;
          ==link_to "Julia",
           "http://julialang.org/",
           :target => "_blank"
          |, this language must also be 
          ==link_to "installed",
            "http://julialang.org/downloads/",
            :target => "_blank"
          |&nbsp;remotely.  
        .comment 
          | An example of an 
          ==link_to "iPython",
            "https://ipython.org/notebook.html",
            :target => "_blank"
          |&nbsp;notebook, in 
          ==link_to "notebook viewer",
            "https://nbviewer.jupyter.org/",
            :target => "_blank"
          |&nbsp;format, is given&nbsp;
          ==link_to "here",
            "https://nbviewer.jupyter.org/",
            :target => "_blank"
        .comment
          | An example of a Julia notebook,&nbsp;
          | again in viewer format, may be found&nbsp;
          == link_to "here",
            "http://julialang.org/downloads/",
            :target => "_blank"
        .commentHeading Local access over ssh 
        pre 
         | # On the remote system
           juypter notebook 
           # On the local machine:
           ssh -N -f -L localhost:4000:localhost:9999 janedow@johndow.com
           &raquo; janedow@johndow.com's password:
           &raquo; C:\WINDOWS\system32>
           # From browser on local machne
           localhost:4000
