footer
  .row
    .large-12.columns
      .nav-bottom
        ul.breadcrumbs
            li 
              ==link_to "Github(tomgdow)",
                "https://github.com/tomGdow",
                :target => "_blank"
            li 
              ==link_to "tomgdow.com",
                "http://tomgdow.com",
                :target => "_blank"
            li 
              ==link_to "testwebsite",
                "http://testwebsite.tomgdow.com/",
                :target => "_blank"
            li 
              ==link_to "jawaireland",
                "http://jawaireland.tomgdow.com/",
                :target => "_blank"
            li 
              ==link_to "stackoverflow (Mathematica)",
                "https://mathematica.stackexchange.com/users/106/tomd",
                :target => "_blank"
            li 
              ==link_to "Plunker",
                "http://plnkr.co/",
                :target => "_blank"
            li 
              ==link_to "Contact Me",
                "contactMe.html",
                :target => "_blank"
